<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>アクアボヤージュ</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-customBackground items-center justify-center min-h-screen">
  <div class="text-center ">
    <%= image_tag "top.png", alt: "トップ画像", class: "w-full" %>
    <div class="space-y-4 mt-8 mb-8 flex flex-col items-center">
      <%= link_to '水族館を探す', aquariums_path, class: 'btn btn-primary text-lg' %>
        <% unless user_signed_in? %>
        <!-- ここでGoogleログインボタンを表示 -->
        <% resource_name = :user %>
        <% resource = User.new %>
        <% devise_mapping = Devise.mappings[:user] %>
        <% resource_class = User %> <!-- Userクラスを設定 -->
  
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= button_to "Google認証", omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: "btn btn-google text-lg" %>
          <% end %>
        <% end %>
        <p>＊レビューにはGoogle認証が必要です</p>
      <% end %>
    </div>
  </div