@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-customBackground {
      background-color: #96C9F4;
    }
    .bg-customFormBackground {
      background-color: #FAFFAF;
    }
    .tab::before {
      content: none !important;
    }
  }

body {
    @apply bg-customBackground;
  }