@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-customBackground {
      background-color: #96C9F4;
    }
    .bg-customFormBackground {
      background-color: #FAFFAF;
    }
    .bg-customBlue {
      background-color: #0F67B1;
    }
    .bg-customFooterBlue {
      background-color: #3FA2F6;
    }
    .tab::before {
      content: none !important;
    }
    .custom-image-size {
      height: 20vw; /* 必要に応じて高さを調整 */
      object-fit: contain; /* 画像を縦横比を維持して表示 */
      width: 100%;
    }
    .autocomplete-list {
      background-color: #3FA2F6;
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      top: 100%; /* 入力フィールドの直下に表示されるように設定 */
      left: 0;
      width: 100%;
      z-index: 1000;
      border-radius: 4px; /* 角を丸める場合 */
    }

    .autocomplete-item {
      padding: 10px;
      cursor: pointer;
    }
    
    .autocomplete-item:hover {
      background-color: #0F67B1;
    }

    /* 親要素のスタイル */
    .form-control {
      position: relative; /* リストが親要素に対して相対的に配置される */
    }
    
    .gallery {
      columns: 4; /* 段組みの数 */
      padding: 0 15px; /* ギャラリー左右に余白をつける */
      margin: 0;
    }
    
    .gallery li {
      margin-bottom: 20px; /* 各画像下に余白をつける */
      list-style: none;
    }
    
    /* ギャラリー内のイメージは横幅100%にする */
    .gallery img {
      width: 100%;
      height: auto;
      vertical-align: bottom; /* 画像の下にできる余白を削除 */
    }
    
    /* 横幅900px以下の段組み設定 */
    @media only screen and (max-width: 900px) {
      .gallery {
        columns: 3;
      }
    }
    
    /* 横幅768px以下の段組み設定 */
    @media only screen and (max-width: 768px) {
      .gallery {
        columns: 2;
      }
    }
  }

body {
    @apply bg-customBackground;
  }