@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-customBackground {
      background-color: #96C9F4;
    }
    .bg-customFormBackground {
      background-color: #FAFFAF;
    }
    .tab::before {
      content: none !important;
    }
    .custom-image-size {
      height: 20vw; /* 必要に応じて高さを調整 */
      object-fit: contain; /* 画像を縦横比を維持して表示 */
      width: 100%;
    }
  }

body {
    @apply bg-customBackground;
  }