<footer class="footer footer-center bg-customFooterBlue text-primary-content p-10 mt-4">
  <div>
    <svg
      width="50"
      height="50"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
      class="inline-block fill-current">
    </svg>
    <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" href="https://www.kiyac.app/privacypolicy/DafOBwkzx9II6D8O7Y6J/preview" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a>
    <a class="link link-hover" href="<%= terms_path %>">利用規約</a>
    <a href="https://forms.gle/3BAf4Zzf9pBwuCFw5" class="link link-hover">お問い合わせ</a>
  </nav>
    <p>Copyright © <%= Time.now.year %> - AQUA VOYAGE</p>
  </div>
  <div class="grid grid-flow-col gap-4">
    <a href="https://x.com/omaty410" target="_blank" rel="noopener noreferrer">
      <i class="fa-brands fa-x-twitter fa-2x"></i>
    </a>
    <a href="https://github.com/shinoomata/Aqua_voyage" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-github fa-2x"></i>
    </a>
  </div>
</footer>
